.container {
  padding: 30px;
  background: rgb(5,5,5);
  background: linear-gradient(0deg, rgba(5,5,5,1) 0%, rgba(15,15,15,1) 0%, rgba(114,185,199,1) 100%);
  border-radius: 8px;
  margin-top: 15%;
}

#safety {
  color: whitesmoke;
  font-family: 'Cairo', sans-serif;
}

#user-info {
  display: none;
}

body {
  background-color: rgb(24, 22, 22);
  font-family: 'Teko', sans-serif;
}

#output {
  display: none;
  color: whitesmoke;
  
}
#results {
  display: flex;

  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}
.info{
  border: 1px gray solid;
  margin: 1rem;
  width: 30%;
  padding: 1rem;
}

#map {
  display: none; 
  width: 100%;
  height: 400px;
  background-color: grey;
  border-radius: 8px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: whitesmoke;
}


/* @media only screen 
and (min-device-width: 320px) 
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2) {
  body { 
    display: flex;
    /* zoom: flex; */
  /* }

  h1 {
    size: 10px;
  }

  #results { 
    font-size: 12pt;
  }

  #map {
    height: 50%;
    width: 50%; 
  }
} */ 
